.info{
    /* border: 1px solid red; */
    width: 50%;
    height: auto;
    margin-left: 5%;
    padding-left: 25px;
    
}
.p{
    line-height: 1.5em;
    color: #545454;
    font-size: 14px;
    font-family: Lato, sans-serif;
}
.input , .country, .firstname, .lastname, .address,.apartment, .city, .state, 
.pincode,.phone,.code{
    background-color: white;
    color: #333333;
    border:1px solid #d9d9d9;
    border-radius: 5px;
    padding: 12px 2px;
    word-break: normal;
    line-height: inherit;   
    width: 80%;
    margin-top: 5px;
    background-clip: padding-box;
    margin-left: 2px;
    margin-bottom: 5px;
}

.shipping{
    /* border: 1px solid red; */
    margin-top: 15px;
    font-size: 1.2857142857em;
    line-height: 1.3em;
}
.name{
    display: flex;  
}
.input:focus,.country:focus,.firstname:focus,.lastname:focus,
.address:focus,.city:focus,.state:focus,.pincode:focus,
 .apartment:focus,.phone:focus, .code:focus{
    border-color: #ff6781;
    outline: none;
    box-shadow: 0 0 0 1px #ff6781;
}
.return{
    display: flex;
    /* border: 1px solid red; */
    color: #ff6781;
}
.result{
    /* border: 1px solid red; */
}
.page{
    display: flex;
}
.result{
    width: 50%;
    background-color: #fafafa;
    padding-left: 25px;
    
}
.result>h4{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.price{
    display: flex;
    justify-content: space-around;
}