.right{
    height: 500px;
   border-radius: 20px;
   margin-bottom: 20px;
}
.one{
    height: 100px;
margin: 5px;
border-radius: 10px;
margin: 10px;


}

.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
    gap: 60px;
    margin-left: 15%;
}

.maina{
    display: flex;
    
    /* justify-content: center; */
}
.clip {
    background:black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  .pink{
    height: 500px;
    width: 500px;
    background-color: rgb(184, 50, 124);
    border-radius: 20px;
    margin: 15px;
    margin-top: 40px;
    text-align: center;
    
  }
  .second{
    text-align: center;
  }
  .secondA{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60%;
    width: 80%;
    margin-left: 60px;
  }

  .reviwes{
    /* display: flex; */
    margin-left:10px ;
    justify-content: space-evenly;
    
    
  }
  
  .font{
    font-weight: bold;
    line-height: 40px;

  }
  .reviews1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: larger;
  }
  
  h4,h3{
    font-weight:500;
    /* font-size: medium; */
  }