@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.rewardButton{
    display: flex;
    align-items: center;
    background-color: #9d88ce;
    max-width: max-content;
    color: white;
    padding: 10px 20px ;
    border-radius: 30px;
    gap: 6px;
    bottom: 3%;
    right: 1.5%;
    position: fixed;
}
.rewardButton>p{
    margin: 0;
}
.rewardButton>svg{
    font-size:35px;
}